@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  margin: 0;
  padding: 0;
  background: #006D77;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: url('/static/assets/usc_bg2.png');
}

.sport-title {
  margin-top: 300px;
  text-align: center;
  position: relative;
}

.content {
  text-align: center;
  padding: 20px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
}

.navbar {
  background-color: white;
  overflow: hidden;
  position: sticky;
  top: 0;
  border-radius: 0px 0px 10px 10px;
  z-index: 3;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 25px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin-left: 0px;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: black;
  padding: 25px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.dropbtn {
  font-weight: bold;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: rgb(51, 50, 50);
}

.Main-Options a:hover {
  border-radius: 10px;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9; 
  min-width: 160px;
  box-shadow: none; 
  z-index: 3;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 10px;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.sports-organization {
  margin-top: 220px;
  background-color: #D8F5E1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

img {
  border-radius: 10px;
}

h3 {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

footer {
  text-align: center;
  color: #fff;
}

h4 {
  font-size: 48px;
  color: #0B552F;
}

.scroll-down-btn {
  background-color: rgba(126, 214, 154, 1);
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 25px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 17px;
  transition: background-color 0.3s, color 0.3s;
}

.scroll-down-btn:hover {
  background-color: rgba(126, 214, 154, 0.85);
}

.sportsOptions {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.sport-section {
  background-color: rgba(126, 214, 154, 1);
  font-size: 21px;
  margin: 15px 0;
  padding: 25px;
  border-radius: 40px;
  color: white;
  width: 100%;
  max-width: 600px;
  text-align: center;
  box-sizing: border-box;
}

.accordion {
  margin: 20px auto;
  width: 60%;
  max-width: none;
}

.accordion > li {
  background-color: rgba(126, 214, 154, 0.8);
  color: white;
  list-style: none;
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.15);
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.sportsOptions span {
  content: "+";
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

input[type="radio"] {
  display: none;
}

.accordion .content {
  color: #efefef;
  padding: 0 10px; 
  line-height: 26px;
  margin: 0; 
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
  align-items: center;
  box-shadow: none;
}

.accordion>li:hover {
  background-color: rgba(126, 214, 154, 1);
}

.accordion>li.active {
  background-color: rgba(126, 214, 154, 1);
}

.nested-dropdown {
  padding: 0;
  margin: 10px 0 0 0; 
  width: 100%; 
  box-sizing: border-box; 
  box-shadow: none;
}

.nested-dropdown a {
  display: block; 
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 5px;
  margin: 10px 0px 0px 0px;
  padding: 15px; 
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  transition: background-color 0.3s; 
}

.nested-dropdown a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.nested-dropdown li {
  list-style: none; 
  margin: 0; 
  padding: 0; 
}

#basketball {
  
}

#tennis {
  
}

/*CSS for SportsTemplate*/
.MovementPage {
  padding: 2vw;
  align-items: center;
  text-align: center;
}

.MovementPage > h1 {
  color: white;
}

.FileUpload video {
  background-color: #ddd;
  padding: 20px;
  border-radius: 20px;
  align-content: center;
  height: 325px;
}

.Results {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: 500;
}

.Results > div {
flex: 1;
margin: 0 10px;
padding: 2vw;
background-color: #f0f0f0;
text-align: center;
box-sizing: border-box;
border-radius: 20px;
}

#uploadButton {
background-color: rgba(126, 214, 154, 1);
color: white;
border: none;
padding: 15px 30px;
cursor: pointer;
font-size: 14px;
border-radius: 40px;
font-weight: bold;
transition: background-color 0.3s, color 0.3s;
}

.videoContaining {
margin-top: 20px;
}

#uploadButton:hover {
  background-color: rgba(126, 214, 154, 0.85);
}