@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(5, 11, 197, 0.5), rgba(3, 35, 129, 0.5));
    height: 100vh;
  }

  p {
    font-size: 20px;
  }

  .navbar {
    background-color: white;
    overflow: hidden;
    position: sticky;
    top: 0;
    border-radius: 10px;
    z-index: 3;
  }
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  .dropdown {
    float: left;
    overflow: hidden;
    margin-left: 0px;
    transition: background-color 0.3s, color 0.3s;
  }
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: black;
    padding: 25px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
  }

  .dropbtn {
    font-weight: bold;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: rgb(51, 50, 50);

  }
  .Main-Options a:hover {
    border-radius: 10px;
  }
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 10px;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .MovementPage {
    padding: 2vw;
    align-items: center;
    text-align: center;
  }

  .MovementPage > h1 {
    color: white;
  }

  .FileUpload video {
    background-color: #ddd;
    padding: 20px;
    border-radius: 20px;
    align-content: center;
    height: 325px;
  }

  .Results {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: 500;
}

.Results > div {
  flex: 1;
  margin: 0 10px;
  padding: 2vw;
  background-color: #f0f0f0;
  text-align: center;
  box-sizing: border-box;
  border-radius: 20px;
}

#uploadButton {
  background-color: rgba(25, 30, 180, 0.5);
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 40px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.videoContaining {
  margin-top: 20px;
}

#uploadButton:hover {

  background-color: rgba(16, 20, 121, 0.5);
}