<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="../static/style.css"> 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<button class="top-right-button" onclick="document.getElementById('fileInput').click()">Upload File</button>
<div hidden>
<input type="file" id="fileInput" class="file-input">
</div>

<script>
  // JavaScript to handle file input change
  document.getElementById('fileInput').addEventListener('change', function() {
    var file = this.files[0]; // Get the selected file
    if (file) {
      alert('Selected file: ' + file.name);
      // You can handle the file upload logic here, such as sending it to a server
    }
  });
</script>