<!DOCTYPE html>
<html>
<head>
    <title>Plotting Graph</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        /* Optional: CSS for centering the plot */
        #plot-container {
            width: 100%; /* Adjust as needed */
            margin: auto;
            text-align: left;
        }
    </style>
</head>
<body>
    <div id="plot-container">
        <div id="plot" style="width: 50%; height: 500px;"></div>
        <!-- Adjust height and width as needed -->
        <button onclick="goBack()">Back to Home</button>
    </div>

    <script>
        var forcex = JSON.parse('{{ forcex | tojson | safe }}');
        var timey = JSON.parse('{{ timey | tojson | safe }}');

        var trace1 = {
            x: forcex,
            y: timey,
            mode: 'lines+markers',  // or 'lines' for connecting points without markers
            type: 'scatter'
        };

        var layout = {
            xaxis: {
                range: [0, 0.2],
                title: 'Time (s.)'
            },
            yaxis: {
                range: [-2, 2],
                title: 'Force (N)'
            },
            title: 'Force (X-Direction) vs. Time Graph'
        };

        Plotly.newPlot('plot', [trace1], layout);

        // Function to navigate back to the landing page
        function goBack() {
            window.location.href = '/';
        }
    </script>
</body>
</html>
