<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="../static/style.css"> 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Your Website Title</title>
</head>
<body>

<button class="top-right-button" onclick="document.getElementById('fileInput').click()">Upload File</button>
<div hidden>
<input type="file" id="fileInput" class="file-input">
</div>

<script>
  // JavaScript to handle file input change
  document.getElementById('fileInput').addEventListener('change', function() {
    var file = this.files[0]; // Get the selected file
    if (file) {
      alert('Selected file: ' + file.name);
      // You can handle the file upload logic here, such as sending it to a server
    }
  });
</script>

<div class="navbar">
  <a href="DEMOsite.html">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Sports 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="DEMOsite2.html">Soccer</a>
      <a href="#">Basketball</a>
      <a href="#">Tennis</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Movements 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Lay Up</a>
      <a href="#">Corner Kick</a>
      <a href="#">Backhand Stroke</a>
    </div>
  </div>
</div>

<div class="content">
  <h1>Prepare To Play</h1>
  <p>Improve your own movement!</p>
</div>

<p>Click below to view the graph:</p>
<a href="/graph">Go to Graph</a>

</body>
</html>
