<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleLibrary.css">
</head>
<body>
    <div class="navbar">
        <div class="Main-Options">
            <div class="Home">
                <a href="index.html">Home</a>
            </div>
            <div class="About-Us">
                <a href="#">About Us</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Sports 
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="SportsTemplate.html">Soccer</a>
                <a href="#">Basketball</a>
                <a href="#">Tennis</a>
            </div>
        </div>
    </div>

    <div class="content">
        <h1 style="color: white;">Biomechanics of Movement</h1>
        <button class="scroll-down-btn" onclick="scrollToDiv('bomDescription')">Discover</button> 
        <button class="browse-btn" onclick="scrollToDiv('bomVideos')">Browse</button>
    </div>

    <div class="bom-video-container" id="bomVideos">
        <div class="bom-video-row1">
            <button class="bom-button">Volleyball</button> 
            <button class="bom-button">Soccer</button>
        </div>
        <!--<iframe width="420" height="315" src="https://www.youtube.com/embed/QtHbqf2lGaw?si=vd62eYmHnhDR9Zus" frameborder="0" allowfullscreen></iframe>-->
    </div>

    <div id="bomDescription" class="bomDescription" style="background-color: white; ">
        <div class="bom-text-container">
            <h4 style="color:indigo;" class="bom-text">What is the Biomechanics of Movement?</h4>
            <p style="color:indigo;" class="bom-text">Description of BOM videos</p>
        </div>
    </div>

    <script>
        const paragraphs = document.querySelectorAll(".bom-text-container");

        document.addEventListener("scroll", function() {
            paragraphs.forEach((paragraph) => {
                if (isInView(paragraph)) {
                    paragraph.classList.add("bom-text-container--visible");
                }
            });
        });

        function isInView(element) {
            const rect = element.getBoundingClientRect();
            return rect.bottom > 0 && rect.top < (window.innerHeight - 150 || document.documentElement.clientHeight - 150);
        }

        function scrollToDiv(divId) {
            var element = document.getElementById(divId);
            element.scrollIntoView({ behavior: 'smooth' });
        }
    </script>
</body>
</html>
