<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleLibrary.css">
</head>
<body>
    <div class="navbar">
        <div class="Main-Options">
            <div class="Home">
                <a href="index.html">Home</a>
            </div>
            <div class="About-Us">
                <a href="#">About Us</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Sports 
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="SportsTemplate.html">Soccer</a>
                <a href="#">Basketball</a>
                <a href="#">Tennis</a>
            </div>
        </div>
    </div>

    <div class="content">
        <h1 style="color: white;">Biomechanics of Movement</h1>
        <button class="scroll-down-btn" onclick="scrollToDiv('bomDescription')">Discover</button> 
        <button class="browse-btn" onclick="scrollToDiv('bomVideos')">Browse</button>
    </div>

    <div class="bom-video-container" id="bomVideos">
        <div id="button-container">
            <h4 id="bom-text-desc">Choose Your Sport</h4>
            <div class="bom-video-right">
                <button class="bom-button bom-button-right" id="volleyball-button">
                    Volleyball
                   <!-- <div class="button-description">Watch Volleyball Videos</div>-->
                </button>
                <button class="bom-button bom-button-left" id="soccer-button">
                    Soccer
                  <!--  <div class="button-description">Watch Soccer Videos</div>-->
                </button>
            </div>

            <div class="bom-video-left">
                <button class="bom-button bom-button-right" id="fun4kids-button">
                    Fun 4 Kids
                  <!--  <div class="button-description">Watch Fun 4 Kids Videos</div>-->
                </button>
                <button class="bom-button bom-button-left" id="dancing-button">
                    Dancing
                   <!-- <div class="button-description">Watch Dancing Videos</div>-->
                </button>
            </div>
        </div>

        <div class="bom-video-box" id="video-container" style="display: none; ">
            <h4 id="bom-text-desc">Choose your sport</h4>
            <iframe id="video-iframe" width="420" height="315" src="" frameborder="0" allowfullscreen></iframe>
            <button class="bom-button" id="back-button">Back</button>
        </div>
    </div>

    <div id="bomDescription" class="bomDescription" style="background-color: white;">
        <div class="bom-text-container">
            <h4 style="color:indigo;" class="bom-text">What is the Biomechanics of Movement?</h4>
            <p style="color:indigo;" class="bom-text">Description of BOM videos</p>
        </div>
    </div>

    <script>
        const paragraphs = document.querySelectorAll(".bom-text-container");

        document.addEventListener("scroll", function() {
            paragraphs.forEach((paragraph) => {
                if (isInView(paragraph)) {
                    paragraph.classList.add("bom-text-container--visible");
                }
            });
        });

        function isInView(element) {
            const rect = element.getBoundingClientRect();
            return rect.bottom > 0 && rect.top < (window.innerHeight - 150 || document.documentElement.clientHeight - 150);
        }

        function scrollToDiv(divId) {
            var element = document.getElementById(divId);
            element.scrollIntoView({ behavior: 'smooth' });
        }

        document.getElementById('volleyball-button').addEventListener('click', function() {
            document.getElementById('button-container').style.display = 'none';
            document.getElementById('video-container').style.display = 'block';
            document.getElementById('video-iframe').src = 'https://www.youtube.com/embed/QtHbqf2lGaw?si=vd62eYmHnhDR9Zus';
        });

        document.getElementById('soccer-button').addEventListener('click', function() {
            document.getElementById('button-container').style.display = 'none';
            document.getElementById('video-container').style.display = 'block';
            document.getElementById('video-iframe').src = 'https://www.youtube.com/embed/Y7i124fZumE?si=mMavM1VEz7jUA4rK';
        });

        document.getElementById('back-button').addEventListener('click', function() {
            document.getElementById('button-container').style.display = 'block';
            document.getElementById('video-container').style.display = 'none';
            document.getElementById('video-iframe').src = 'https://www.youtube.com/embed/Y7i124fZumE?si=mMavM1VEz7jUA4rK';
        });

    </script>
</body>
</html>
