{% extends "index.html" %}
{% block dropdown %} 
<!-- Creates form to get data from user and send the data to the dropdown function in main.py -->
<form action="{{ url_for('dropdown') }}" method="post">
    <div>
        <!-- Labels the form with sports -->
        <label for="sport">Select Sport:</label>
        <!-- Creates dropdown menu that automatically submits and reloads page -->
        <select name="sport" id="sport" onchange="this.form.submit()">
            <option value="">--Select--</option>
            <!-- Loops through all the sports we wrote -->
            {% for sport in sports %}
            <!-- Displays each sport and if user selects a sport, it'll be saved for when the page reloads to go on to the next dropdown -->
                <option value="{{ sport }}" {% if selected_sport == sport %}selected{% endif %}>{{ sport }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="movements">Select movements:</label>
        <!-- Add onchange= to move to submit after they select their movement -->
        <select name="movements" id="movements" >
            <option value="">--Select--</option>
            {% for movements in movements %}
                <option value="{{ movements }}">{{ movements }}</option>
            {% endfor %}
        </select>
    </div>
</form>
{% endblock %}