<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USC Biometrics Project 2024</title>
</head>
<body>
    <h1>Multiple Plots</h1>
    <div style="display: flex; flex-direction: column; align-items: left;">
        <div style="margin-bottom: 20px;">
            <h2>Force Plate Data</h2>
            <img src="data:image/png;base64,{{ plot_data1 }}" alt="Plot 1">
        </div>
        <div>
            <img src="data:image/png;base64,{{ plot_data2 }}" alt="Plot 2">
        </div>
    </div>
</body>
</html>
