<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleindex.css') }}">
    <title>Sports Template</title>
</head>

<body>
    <div class="navbar">
        <div class="Main-Options">
            <div class="Home">
                <a href="{{ url_for('index') }}">Home</a>
            </div>
            <div class="About-Us">
                <a href="#">About Us</a>
            </div>
        </div>
    </div>

    <div class="MovementPage">
        <h1 id="sportTitle">Sports Movement Name</h1>
        <script>
            const movement = localStorage.getItem('selectedMovement');
            console.log(movement);

            if (movement) {
                document.getElementById('sportTitle').textContent = movement;
            }
        </script>
        <form id="video-form" method="post" enctype="multipart/form-data">
            <div class="FileUpload">
                <p>Upload your BOM video here!</p>
                {% if not uploaded %}
                <button id="uploadButton" type="button" onclick="document.getElementById('videoFile').click()">Upload File</button>
                {% endif %}
                <input type="file" id="videoFile" name="video_file" accept="video/*" style="display:none;">
                <div id="videoContainer" class="videoContaining {% if uploaded %}show{% endif %}">
                    {% if uploaded %}
                    <video id="uploadedVideo" controls>
                    <source src="{{ video_url }}" type="video/mp4">                        Your browser does not support the video tag.
                    </video>
                    {% endif %}
                </div>
            </div>
        </form>
        <div class="Results">
            <div>
                <p>Force Graph</p>
            </div>
            <div>
                <p>Vector Overlay</p>
                <div id="plot-container">
            
                    <div id="chooser">
                        <label for="forceChooser">Choose force components:</label>
                        <select id="forceChooser" onchange="playSelectedVideo()">
                            <option value="y_z">Force Y and Force Z</option>
                            <option value="x_y">Force X and Force Y</option>
                            <option value="x_z">Force X and Force Z</option>
        
                        </select>
                    </div>
                    <div id="plot"></div>
                    <p id="integralForce">Integral of Force over time: Ns</p>
                </div>
                <script>
                    var rows = JSON.parse('{{ num_row | tojson | safe }}');
                    var forcex = JSON.parse('{{ forcex | tojson | safe }}');
                    var timex = JSON.parse('{{ timex | tojson | safe }}');
                    var forcey = JSON.parse('{{ forcey | tojson | safe }}');
                    var forcez = JSON.parse('{{ forcez | tojson | safe }}');
                    var additionalForcex = JSON.parse('{{ additional_forcex | tojson | safe }}');
                    var additionalForcey = JSON.parse('{{ additional_forcey | tojson | safe }}');
                    var additionalForcez = JSON.parse('{{ additional_forcez | tojson | safe }}');
                    var frames = []
                    function plotGraph(frameIndex,duration) {
                        var selectedOption = document.getElementById('forceChooser').value;
                        var force1, force2, additionalForce1, additionalForce2, integral, integralRight;
                        

                    
                        console.log("frameIndex: ")
                        console.log(frameIndex)

                        console.log("this is selcetion")
                        console.log(selectedOption)



                        var time = frames[frameIndex].data[0].time

                        if (selectedOption === 'y_z') {
                            force1 = frames[frameIndex].data[0].y1;
                            force2 = frames[frameIndex].data[0].z1;
                            additionalForce1 = frames[frameIndex].data[0].y2;
                            additionalForce2 = frames[frameIndex].data[0].z2;

                            integral = '{{ integral_forcey }} and {{ integral_forcez }}';
                            integralRight = '{{ integral_forcey2 }} and {{ integral_forcez2 }}';
                            var forceone = 'Y'
                            var forcetwo = 'Z'
                        } 
                        else if (selectedOption === 'x_y') {
                            force1 = frames[frameIndex].data[0].x1;
                            force2 = frames[frameIndex].data[0].y1
                            additionalForce1 = frames[frameIndex].data[0].x2
                            additionalForce2 = frames[frameIndex].data[0].y2
                            integral = '{{ integral_forcex }} and {{ integral_forcey }}';
                            integralRight = '{{ integral_forcex2 }} and {{ integral_forcey2 }}';
                            var forceone = 'X'
                            var forcetwo = 'Y'
                        }
                        else {
                            force1 = frames[frameIndex].data[0].x1
                            force2 = frames[frameIndex].data[0].z1
                            additionalForce1 = frames[frameIndex].data[0].x2
                            additionalForce2 = frames[frameIndex].data[0].z2
                            integral = '{{ integral_forcex2 }} and {{ integral_forcez2 }}';
                            integralRight = '{{ integral_forcex2 }} and {{ integral_forcez2 }}';
                            var forceone = 'X'
                            var forcetwo = 'Z'
                        }

                        var trace1 = {
                            x: time,
                            y: force1,
                            mode: 'lines',
                            type: 'scatter',
                            fill: 'tozeroy',
                            name: `Force 1 (${forceone})`
                        };

                        var trace2 = {
                            x: time,
                            y: force2,
                            mode: 'lines',
                            type: 'scatter',
                            fill: 'tozeroy',
                            name: `Force 2 (${forcetwo})`
                        };

                        var layout = {
                            xaxis: {
                                range: [0, duration],
                                title: 'Time (s.)'
                            },
                            yaxis: {
                                range: [-3, 3],  // Adjust y-axis range as needed
                                title: 'Force (N)'
                            },
                            
                        };

                        Plotly.newPlot('plot', [trace1, trace2], layout);

                        var additionalTrace1 = {
                            x: time,
                            y: additionalForce1,
                            mode: 'lines',
                            type: 'scatter',
                            fill: 'tozeroy',
                            name: `Force 1 Right (${forceone})`
                        };

                        var additionalTrace2 = {
                            x: time,
                            y: additionalForce2,
                            mode: 'lines',
                            type: 'scatter',
                            fill: 'tozeroy',
                            name: `Force 2 Right (${forcetwo})`
                        };

                        var additionalLayout = {
                            xaxis: {
                                range: [0, duration],
                                title: 'Time (s.)'
                            },
                            yaxis: {
                                range: [-3,3],  
                                title: 'Force (N)'
                            },
                            
                        };

                        Plotly.newPlot('additional-plot', [additionalTrace1, additionalTrace2], additionalLayout);

                        document.getElementById('integralForce').innerText = `Integral of Force over time (Left Plate): ${integral} Ns`;
                        document.getElementById('integralForceRight').innerText = `Integral of Force over time (Right Plate): ${integralRight} Ns`;
                    }
                    function playSelectedVideo() {
                        var videoInput = document.getElementById('videoFile');
                        var videoPlayer = document.getElementById('uploadedVideo');
                        var file = videoInput.files[0];
                        var url = URL.createObjectURL(file);
                        var duration
                        
                        
                        videoPlayer.src = url;
                        
                        videoPlayer.addEventListener('loadedmetadata', function() {
                        // Get the duration of the video
                        duration = videoPlayer.duration;
                        })

                        videoPlayer.addEventListener('timeupdate', function(){
                            var currentTime = videoPlayer.currentTime;
                            var currentFrame = Math.floor(currentTime * 30)
                            var step_size

                            console.log("This is current time")
                            console.log(currentTime)
                            console.log("This is duration of the video")
                            console.log(duration)
                            if (frames.length === 0 ){
                                var n = Math.ceil(duration*30);
                                step_size = Math.round(rows/n)
                                step_size = 20
                                console.log("Step size: " + step_size);
                                for (var i = 0; i < n; i++) {
                                    frames[i] = {data: [{time:[],x1: [], y1: [], z1: [], x2: [], y2: [], z2: [], }]}
                                    frames[i].data[0].time = timex.slice(0,step_size*i)
                                    frames[i].data[0].x1 = forcex.slice(0, step_size*i);
                                    frames[i].data[0].y1 = forcey.slice(0, step_size*i);
                                    frames[i].data[0].z1 = forcez.slice(0, step_size*i);
                                    frames[i].data[0].x2 = additionalForcex.slice(0, step_size*i);
                                    frames[i].data[0].y2 = additionalForcey.slice(0, step_size*i);
                                    frames[i].data[0].z2 = additionalForcez.slice(0, step_size*i);
                                }
                            }
            
                            plotGraph(currentFrame,(duration/4));
                        })
                        
                        videoPlayer.play();
                    }
                </script>
            </div>
            <div>
                <h2>Stats</h2>
                <p id="launchVel-Stat">Launch Velocity: <span id="launchVel-val">0.0</span></p>
                <p id="launchAngle-Stat">Launch Angle: <span id="launchAngle-val">0.0</span></p>
                <p id="vertImpulse-Stat">Vertical Impulse: <span id="vertImpulse-val">0.0</span></p>
                <p id="horizImpulse-Stat">Horizontal Impulse: <span id="horizImpulse-val">0.0</span></p>
                <p id="makesBasket-Stat">Probability of Making Basket: <span id="makesBasket-val">0.0</span></p>
            </div>
        </div>
    </div>


    <footer>
        <p> Copyright © 2024 Westview Prepare to Play </p>
    </footer>
    <script>
        const videoFileInput = document.getElementById('videoFile');
        const videoForm = document.getElementById('video-form');

        videoFileInput.addEventListener('change', () => {
            if (videoFileInput.files.length > 0) {
                videoForm.submit();
            }
        });
    </script>
    <script src="{{ url_for('static', filename='movementSelection.js') }}"></script>
</body>

</html>