<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".../static/styleSportsTemplate.css">
</head>
<body>


    <div class="navbar">
        <div class="Main-Options">
          <div class="Home">
            <a href="index.html">Home</a>
          </div>
          <div class="About-Us">
            <a href="#">About Us</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Sports 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="SportsTemplate.html">Sports Template</a>
            <a>Basketball</a>
            <a href="#">Tennis</a>
          </div>
        </div>
      </div>

<div class="MovementPage">
    <h1>Sports Movement Name</h1>
    <div class = "FileUpload">
      <p> Upload your BOM video here!</p>
      <button id="uploadButton" type="button" onclick="document.getElementById('videoFile').click()">Upload File</button>
      <div hidden>
        <input type="file" id="videoFile" accept="video/*">
      </div>
      <div class="videoContaining" id="videoContainer" style="display: none;">
        <video id="uploadedVideo" controls>
            Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div class="Results">
      <div>
        <p>Force Graph</p>
      </div>
      <div>
        <p>Vector Overlay</p>
      </div>
      <div>
        <p>Stats</p>
      </div>
    </div>
</div>

<script>
  const videoFileInput = document.getElementById('videoFile');
  const uploadedVideo = document.getElementById('uploadedVideo');
  
  document.getElementById('videoContainer').style.display = 'block';

  videoFileInput.addEventListener('change', function() {
      const file = this.files[0];
      

      const fileURL = URL.createObjectURL(file);
      uploadedVideo.src = fileURL;
      

      uploadAndProcessVideo(file);
  });
  
  function uploadAndProcessVideo(videoFile) {

      fetch('/process_video', {
          method: 'POST',
          body: videoFile
      }).then(response => {

      }).catch(error => {
          console.error('Error uploading video:', error);
      });
  }

</script>

</body>
</html>
